<nav class="nav-menu checkbox">
    <div class="hamburger">
        <input type="checkbox" id="hamburger">
        <label for="hamburger" onclick="">
            Toggle Menu
        </label>
        <div class="side-nav always-open-on-desktop">
            <div class="nav-header">
                <div class="logo">
                    <img src="/img/logo.png" title="Google Cloud Day" alt="Google Cloud Day" />
                </div>
            </div>
            <div class="nav-body">
                <div class="section pages">
                    <ul class="page-list">
                        <li>
                            <a href="/" title="Home">
                                <i class="icon">
                                    <img alt="Home" src="/img/ic_dashboard_black_24px.svg"/>
                                </i>Home</a>
                        </li>
                        <li>
                            <a href="https://www.incredible-web.com" target="_blank" title="About">
                                <i class="icon">
                                    <img alt="Settings" src="/img/ic_settings_black_24px.svg" />
                                </i>About Incredible Web</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
